@import './reset.scss';

@import './variables.scss';

@import './mixins/breakpoints.scss';
@import './mixins/grid.scss';

@import './utilities.scss';
@import './typography.scss';

@import 'components/container';
@import './grid.scss';
@import './components/button.scss';
@import './forms.scss';
@import './components/header.scss';
@import './components/footer.scss';
@import './components/navbar.scss';
@import './components/carousel.scss';

@import 'components/gallery-image-preview';
@import './components/spinner.scss';
@import './components/card.scss';
@import './components/alert.scss';

:root {
    --color-primary: #F72684;

    /* Background */
    --bg-white: #FFFFFC;
    --bg-dark: #131112;

    /* Text */
    --text-dark: #131112;
    --text-light: #555555;
    --text-white: #FFFFFC;

    /* Header */
    --header-bg-color: var(--bg-white);

    --spacer-color: #E5E5E5;

    --gutter-x: 1rem;
    --gutter-y: 1rem;

    --border-radius: 5px;
}

html {
    height: 100%;
    font-size: 16px;
}

* {
    box-sizing: border-box;
    color: var(--bg-dark);
}

a {
    text-decoration: none;
    color: inherit;
    display: inline-block;
}

.spacer {
    border: none;
    border-top: 1px solid var(--spacer-color);
    margin: 1rem 0;
}

body {
    position: relative;
    min-height: 100%;
    background-color: #F4F4F4;
}

.link {
    color: var(--color-primary);
}

#map {
    height: calc(100vh - 100px);
}

#location-selector {
    height: 400px;
}

#admin-map {
    height: 200px;
    width: 100%;
    border-radius: var(--border-radius);
}

.mapcluster {
    height: 40px;
    width: 40px;
    border-radius: 50%;
    background-color: var(--color-primary);
    color: white;
    text-align: center;
    font-size: 20px;
    line-height: 40px;
    margin-top: -20px;
    margin-left: -20px;
}

.jumbotron {
    width: 100%;
    text-align: center;
    background-color: var(--bg-dark);
    color: var(--text-white);
    padding: 2rem 0;
    text-transform: uppercase;

    > * {
        color: inherit;
    }
}
