.btn {
    font-family: 'Barlow Condensed';
    font-weight: 400;
    @extend .corner-small;
    padding: 10px 30px;
    position: relative;
    text-transform: uppercase;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

.btn-small {
    padding: 0.2rem 0.3rem;
    //font-size: 0.7rem;
}

.btn-primary {
    color: var(--text-white);
    background-color: var(--color-primary);
}

.btn-outline {
    background-color: transparent;
    border: solid 2px var(--bg-white);
    z-index: 2;
    transition: 0.3s;
    overflow: hidden;
    color: var(--text-white);

    &::before {
        content: '';
        @extend .corner-small;
        position: absolute;
        top: 0;
        left: 0;
        background-color: var(--color-primary);
        width: 100%;
        height: 100%;
        transform: translateX(-100%);
        transition: 0.3s;
    }

    // &:hover {
    //     color: var(--bg-white);
    //     // background-color: var(--color-primary);
    //     border: none;

    //     &::before {
    //         transform: translateX(0);
    //         z-index: -1;
    //     }
    // }
}
