.form-label {
    display: block;
    font-size: 0.8rem;
    margin-bottom: 0.2rem;
}

.form-input {
    border: solid 1px #E1E1E1;
    border-radius: var(--border-radius);
    padding: 0.5rem;
    width: 100%;
    margin-bottom: 0.5rem;
    resize: vertical;
    font-size: 0.7rem;
}

.required::after {
    content: '*';
    color: var(--color-primary);
}

.input-list {
    position: relative;
}

.autocomplete {
    background-color: white;
    border: solid 1px #E1E1E1;
    border-top: 0;
    border-radius: 0 0 var(--border-radius) var(--border-radius);
    padding: 0.8rem 0;
    display: flex;
    flex-direction: column;
    margin-top: -10px;

    &.hidden {
        display: none;
    }

    > * {
        flex: 1;

        > * {
            width: 100%;
            text-align: left;
            padding: 0.3rem 0.2rem;
            border: 0;
            background-color: transparent;
            cursor: pointer;

            &:hover {
                background-color: #d2d2d2;
            }
        }
    }
}

textarea {
    min-height: 10rem;
}
