.container-full {
    width: 100%;
    padding: 2%;
}

.container {
    display: block;
    //max-width: calc(100% - 100px);
    //min-height: 100%;
    //margin: 50px auto;
    margin-inline: auto;
    width: min(100%, 1200px);
    padding: 1.5rem;
    background-color: var(--bg-white);
}
